@import '../core/variables';

.dayList {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__link {
    display: inline-block;
  }

  &__list {
    border: 2px solid $primary;
    border-radius: 4px;
    color: $secondary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8px;
    list-style: none;
    padding: 10px;
    text-align: center;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
  }
} 

.day__emoji {
  width: 90px;
}