@import './styles/core/variables';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $primary-light;
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content:center;
  min-height: 100vh;
}
